@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model PartyInvites.Models.GuestResponse
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RsvpForm</title>
</head>
<body>
    <form asp-action="RsvpForm" method="post">

        <p>
            <label asp-for="Name">Your Name:</label>
            <input type="text" id="Name" name="Name" value="" />
            <label asp-for="Name" />
        </p>
        <p>
            <label asp-for="Email">Your Email</label>
            <input type="text" id="Email" email="Email" value="" />
            <label asp-for="Email" />
        </p>
        <p>
            <label asp-for="Phone">Your Phone</label>
            <input type="text" id="Phone" phone="Phone" value="" />
            <label asp-for="Phone" />
        </p>
        <p>
            <label>Will you attend?</label>
            <select asp-for="WillAttend">
                <option value="">Choose an option</option>
                <option value="true">Yes, I'll be there</option>
                <option value="false">No, I can't come</option>
            </select>
        </p>
        <button type="submit">Submit RSVP</button>
    </form>
</body>
</html>


